@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@theme {
  --shadow-layer: 0 35px 60px -15px rgba(0, 0, 0, 0.3);

  --color-framework: #000;
  --color-black: #0b0b0b;
  --color-white: #fff;
  --color-brand: #f50;

  --font-display: 'Inter', 'sans-serif';
  --font-sans: 'Inter', 'sans-serif';

  --default-transition-duration: 250ms;
}
